/* Reset de estilos básicos para padronização */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(243, 239, 239);
    color: rgb(59, 72, 211);
}

header {
    background-color: rgb(2, 2, 2);
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Para alinhar o logo à esquerda e a navegação à direita */
    align-items: center; /* Para centralizar verticalmente */
    
}

.logo img {
    max-width: 50px; /* Tamanho máximo do logo */
    margin-left: 20px; /* Espaço à esquerda do logo */
    border-radius: 80px
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(13, 13, 13);
}

.featured-movie {
    text-align: center;
    padding: 20px;
}

.movie-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: red;
}

.movie-card img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: red;
}

.cabeçalho {
    text-align: 
}
